[Unit]
Description=NAS Backup Service

[Service]
Type=oneshot
User=root
ExecStart=/home/garak/backup-service/backup.sh /NAS/storage/ /NAS/backup/ -aAXHvx --del --bwlimit=20000

[Install]
WantedBy=multi-user.target
